* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
}

.TOPO {
    display: flex;
    padding: 20px;
    background-color: white;
    position: fixed;
    width: 2000px;
    z-index: 1;
}

.topo1 {
    font-size: large;
    padding-left: 200px;
    a {
        text-decoration: none;
        color: rgb(101, 98, 98);
    }
    span {
        color: rgb(59, 163, 215);
    }
}

.topo2 {
    padding-left: 700px;
}

.link-topo {
    margin: 20px;
    text-decoration: none;
    color: rgb(101, 98, 98);
}

.conteiner1 {
    background-image: url('assets/imgs/img-fundo.jpg');
    background-size: cover;
    height: 700px;
}

.conteiner1-1 {
    position: absolute;
    width: 600px;
    top: 250px;
    left: 500px;
    bottom: 300px;
    height: 230px;
    text-align: center;
    background-color: rgba(13, 140, 72, 0.451);
    border: 1px solid white;
    border-radius: 10px;
    h1 {
        color: white;
        font-size: 50px;
        padding-top: 60px;
    }
    p {
        color: white;
        padding-top: 60px;
        font-size: 25px;
        padding-bottom: 40px;
    }
}

.conteiner2 {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
    h1 {
        padding-bottom: 30px;
    }
    p {
        padding: 16px;
    }
}

.conteiner3-1 {
    position: absolute;
    left: 150px;
    img {
        width: 400px;
    }
    a {
        display: block;
        text-decoration: none;
        border-bottom: 3px solid green;
        padding: 20px;
        text-align: center;
        color: black;
    }
}

.conteiner3-2 {
    position: absolute;
    left: 590px;
    img {
        width: 400px;
    }
    a {
        display: block;
        text-decoration: none;
        border-bottom: 3px solid green;
        padding: 20px;
        text-align: center;
        color: black;
    }
}

.conteiner3-3 {
    position: absolute;
    left: 1030px;
    img {
        width: 400px;
    }
    a {
        display: block;
        text-decoration: none;
        border-bottom: 3px solid green;
        padding: 20px;
        text-align: center;
        color: black;
    }
}

.ROTA {
    text-align: center;
    padding-top: 400px;
    h1 {
        padding-bottom: 30px;
    }
    p {
        padding: 16px;
        padding-bottom: 50px;
    }
}

.sobre1 {
    text-align: center;
    padding-top: 80px;
    h1 {
        padding-bottom: 30px;
    }
    p {
        padding: 16px;
        padding-bottom: 50px;
    }
}

.conteiner4 {
    padding-top: 40px;
}

.conteiner4-1 {
    width: 500px;
    display: flex;
    position: absolute;
    left: 250px;
    background-color: rgba(192, 179, 179, 0.267);
    img {
        width: 110px;
        height: 140px;
        padding-left: 80px;
    }
}

.conteiner4-2 {
    display: flex;
    width: 500px;
    position: absolute;
    left: 850px;
    background-color: rgba(192, 179, 179, 0.267);
    img {
        width: 110px;
        height: 140px;
        padding-left: 80px;
    }
}

.conteiner4-3 {
    width: 500px;
    display: flex;
    position: absolute;
    left: 250px;
    top: 2330px;
    background-color: rgba(192, 179, 179, 0.267);
    img {
        width: 110px;
        height: 140px;
        padding-left: 80px;
    }
}

.conteiner4-4 {
    width: 500px;
    display: flex;
    position: absolute;
    left: 850px;
    top: 2330px;
    background-color: rgba(192, 179, 179, 0.267);
    img {
        width: 110px;
        height: 140px;
        padding-left: 80px;
    }
}

.cx1, .cx2, .cx3, .cx4 {
    width: 400px;
    height: 130px;
    h2 {
        padding: 10px;
        font-size: 20px;
    }
    p {
        padding: 10px;
        font-size: 15px;
    }
}

.RODAPÉ {
    background-color: rgb(26, 181, 119);
    color: white;
    margin-top: 370px;
}

.card-info-rodape {
    padding-bottom: 20px;
}

.cardP {
    h3 {
        padding-top: 30px;
        padding-left: 200px;
    }
}

.card1 {
    img {
        position: absolute;
        left: 450px;
        top: 2547px;
    }
    p {
        text-decoration: none;
        color: white;
        position: absolute;
        top: 2547px;
        padding-left: 490px;
    }
}

.card2 {
    img {
        position: absolute;
        left: 780px;
        top: 2547px;
    }
    p {
        text-decoration: none;
        color: white;
        position: absolute;
        top: 2553px;
        padding-left: 820px;
    }
}

.card3 {
    img {
        position: absolute;
        left: 1100px;
        top: 2547px;
    }
    p {
        text-decoration: none;
        color: white;
        position: absolute;
        top: 2547px;
        padding-left: 1150px;
    }
}

.borda-inferior {
    border-bottom: 3px solid rgb(21, 141, 93);
    width: 1200px;
    margin-left: 190px;
    padding-top: 10px;
}

.card-info-rodape2 {
    p {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
}